openapi: 3.0.3

info:
  title: KELA Investigate API
  version: "1.0.0"
  description: |
    The **Investigate API** provides programmatic access to KELA’s intelligence data lakes,
    enabling real-time searches across multiple sources such as hacking forums,
    leaked credentials, compromised accounts, instant messaging platforms,
    breached servers, and finished intelligence reports.

    The API supports structured entity searches, flexible query logic,
    pagination, saved queries, and retrieval of full data records.
  license:
    name: KELA
    url: https://docs.ke-la.com/kela-docs/

servers:
  - url: https://platform.ke-la.com/api/investigate/v1
    description: Production environment

security:
  - ApiKeyAuth: []

tags:
  - name: Connectivity
    description: |
      Base Investigate API URL:
      ```
      https://platform.ke-la.com/api/investigate
      ```

  - name: Usage Considerations
    description: |
      | Constraint | Value |
      |-----------|-------|
      | Rate limit | 1 request per second |
      | Max query length | 2000 characters |
      | Authentication | API Token (query parameter) |

  - name: Authentication
    description: |
      An API token is required for all endpoints.
      Tokens can be generated via the KELA platform UI.

      Requests without a valid token will return `401 Unauthorized`.

  - name: Query API
    description: |
      Endpoints used to perform searches, retrieve counters,
      paginate results, and fetch full data records.

      **Token usage**
      - Data Search: 1 search token
      - Pagination: 1 token per 100 requests

  - name: Saved Queries API
    description: |
      Endpoints for managing and retrieving saved queries.

  - name: User License API
    description: |
      Endpoint for retrieving user license and token information.

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiToken
      description: KELA API authentication token

  parameters:
    QueryParam:
      name: query
      in: query
      required: true
      schema:
        type: string
      description: Search expression or entity value
      example: ke-la.com

    EntityParam:
      name: entity
      in: query
      required: true
      schema:
        type: string
        enum: [text, domains, emails, subnets, credit_cards]
      description: Defines how the query value is interpreted
      example: domains

  schemas:
    ErrorResponse:
      type: object
      properties:
        message:
          type: string

    CounterItem:
      type: object
      required: [name, counter]
      properties:
        name:
          type: string
          description: Data type name
        counter:
          type: integer
          description: Number of matching records

    CountersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CounterItem'

    SearchResponse:
      type: object
      properties:
        total:
          type: integer
        results:
          type: array
          items:
            type: object
        filters:
          type: object
        scroll_id:
          type: string

    PaginationResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
        scroll_id:
          type: string

    DataObjectResponse:
      type: object
      properties:
        data:
          type: object

    SavedQuery:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        search_text:
          type: string
        new_results:
          type: integer

    SavedQueryResults:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
        scroll_id:
          type: string

    LicenseResponse:
      type: object
      properties:
        search_tokens_left:
          type: integer
        refill_date:
          type: integer
          format: int64
        min_date_limit:
          type: integer
          format: int64

paths:
  /counters:
    post:
      operationId: counters
      tags: [Query API]
      summary: Retrieve data counters
      description: |
        Executes a query and returns the number of matching records
        per supported data type.
      parameters:
        - $ref: '#/components/parameters/QueryParam'
        - $ref: '#/components/parameters/EntityParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    start_date:
                      type: string
                      format: date
                    end_date:
                      type: string
                      format: date
      responses:
        "200":
          description: Counters per data type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountersResponse'
              examples:
                success:
                  value:
                    data:
                      - name: hacking_discussions
                        counter: 1058
                      - name: leaked_credentials
                        counter: 38853
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded

  /search:
    post:
      operationId: search
      tags: [Query API]
      summary: Execute data search
      parameters:
        - $ref: '#/components/parameters/QueryParam'
        - $ref: '#/components/parameters/EntityParam'
        - name: index
          in: query
          required: true
          schema:
            type: string
            enum:
              - hacking_discussions
              - leaked_credentials
              - instant_messaging
              - compromised_accounts
              - breached_servers
              - intelligence_reports
          description: Target data lake
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  properties:
                    sources:
                      type: array
                      items:
                        type: string
                    services:
                      type: array
                      items:
                        type: string
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "429":
          description: Rate limit exceeded

  /next:
    get:
      operationId: next
      tags: [Query API]
      summary: Paginate search results
      parameters:
        - name: scrollId
          in: query
          required: true
          schema:
            type: string
          description: Pagination cursor
      responses:
        "200":
          description: Paginated results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationResponse'
        "401":
          description: Unauthorized
        "500":
          description: Pagination failed

  /get/{type}/{id}:
    get:
      operationId: getdata
      tags: [Query API]
      summary: Retrieve full data record
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum:
              - hacking_discussions
              - instant_messaging
              - breached_servers
              - intelligence_reports
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: extract_entities
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Full data object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataObjectResponse'
        "404":
          description: Not found
        "401":
          description: Unauthorized

  /subscriptions:
    get:
      operationId: subscriptions
      tags: [Saved Queries API]
      summary: List saved queries
      responses:
        "200":
          description: Saved queries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SavedQuery'
        "401":
          description: Unauthorized

  /subscriptions/{id}:
    get:
      operationId: getsubscription
      tags: [Saved Queries API]
      summary: Retrieve saved query results
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: new
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Saved query results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedQueryResults'
        "401":
          description: Unauthorized
        "404":
          description: Not found

  /license:
    get:
      operationId: license
      tags: [User License API]
      summary: Retrieve user license information
      responses:
        "200":
          description: License details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        "401":
          description: Unauthorized
